@font-face {
  font-family: 'format-1452';
  src: local('format-1452'), url('./assets/Format_1452.woff');
}

body {
  background-color: #c46cf0;
  height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'format-1452';
  font-size: 5em;
  margin-top: 10px;
}

.cauldron-img {
  margin-bottom: 20px;
}

.outer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 150px;
  flex-wrap: wrap;
  padding: 40px;
}

.color-item {
  /* margin: 50px auto; */
}

.color-square {
  height: 75px;
  width: 75px;
}

#get-recs-button {
  width: 100%;
  height: 50px;
  margin: 20px;
  background-color: black;
  border-style: none;
  font-family: 'format-1452';
  color: lime;
  border-radius: 13px;
  font-size: 2em;
  box-shadow: 0 0 8px lime;
  cursor: pointer;
}

#close-recs-button {
  width: 30px;
  height: 30px;
  font-size: 1em;
  border-radius: 50px;
  border-style: none;
  background-color: white;
  opacity: 0.5;
  color: black;
  box-shadow: 0 0 8px black;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.track-list {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  /* margin: 20px auto; */
  width: 500px;
}

.track-item {
  background-color: #c46cf0;
  margin: 10px auto;
}

img {
  align-self: center;
}

iframe div.af {
  background-color: #c46cf0 !important;
}
/* .at = gradient shadow */
/* .af = background color */
